@font-face {
    font-family: "Kefa";
    src: local(Kefa.ttf) format("truetype");
}

* {
  font-family:Kefa;
}

html {
    height: 100%;
}

.errorlogin{
  border:solid 1px orange;
  color:white;
  margin:10px;
}

body{
  background-image: linear-gradient(#006fb7, #8ec33c);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo{
  height:9em;
}
body{
  display:block;
  margin:auto;
  width: 50%;
  text-align:center;
  transform:translateY(25%)
}

input{
  border-radius:50px;
  padding:10px;
}
.userform{
  padding:10px;
}
.userform input{
  background-color:#cde3e3;
}
.userform input::placeholder{
  color:white;
  text-align:center;
}

.passform input{
  background-color:#cde3e3;
}
.passform input::placeholder{
  color:white;
  text-align:center;
}

.passform{
  padding:10px;
}

.loginimages{
  height:3em;
  postion:absolute;
  transform:translateY(45%)
}

.loginsubmit{
  padding-top:50px;
}

.loginsubmit input{
  background-color:white;
  color:#006fb7;
  cursor:pointer;
  font-weight:bold;
  font-family:Kefa;
  padding:10px 20px 10px 20px;
  font-size:20px;
}

@media only screen and (max-width: 600px){
.errorlogin{
  margin:10px;
  font-size:12px;
}

.logo{
  height:8em;
}

.userform input{
  font-size:14px;
}

.passform input{
  font-size:14px;
}

body{
  display:block;
  margin:auto;
  width: 60%;
  text-align:center;
  transform:translateY(30%)
}
.loginimages{
  height:3em;
  transform:translateY(40%);
}

.loginsubmit input{
  padding:10px 20px 10px 20px;
  font-size:20px;
  font-weight:bold;
  font-family:Kefa;
}

}
@media only screen and (max-width: 450px){
.errorlogin{
  font-size:10px;
  margin:5px;
}
}


@media only screen and (max-width: 430px){
body{
  display:block;
  margin:auto;
  width: 90%;
  text-align:center;
  transform:translateY(30%)
}

}

@media only screen and (max-width: 350px){
.logo{
  height:5em;
}
body{
  display:block;
  margin:auto;
  width: 100%;
  text-align:center;
  transform:translateY(30%);
}
.userform input{
  font-size:12px;
}

.passform input{
  font-size:12px;
}

.errorlogin{
  font-size:8px;
  margin:5px;
}

}

@media only screen and (max-width: 250px){
.logo{
  height:4em;
}
body{
  display:block;
  margin:auto;
  width: 100%;
  text-align:center;
  transform:translateY(30%);
}
.userform input{
  font-size:10px;
}

.passform input{
  font-size:10px;
}

}

@media only screen and (max-width: 210px){
.logo{
  height:4em;
}
body{
  display:block;
  margin:auto;
  width: 100%;
  text-align:center;
  transform:translateY(30%);
}
.userform input{
  font-size:8px;
}

.passform input{
  font-size:8px;
}

}
