{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billingham Biomass</title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'permit' %}">Hot Work Permit</a>
      <a href="{% url 'schedule:calendar'%}">Cleaning Schedule</a>
    </div>
    <div class="head">
      <a href="{% url 'home' %}" ><img src="{% static 'Biomass.png' %}" class="logo" alt="Biomass-Logo" ></img></a>
    <nav class="navigation">
      <ul>
        {% if user.is_authenticated %}
        <li>
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <img class="loginimages" onclick="openNav()" src="{%static 'User.png'%}" alt="user-img">
            Hello {{user}} <button type="submit"> Log Out </button>
          </form>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>

    <div class="wrapper">
      {% block content %}

      {% endblock %}
    </div>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.display = "block";
         }

         function closeNav() {
           document.getElementById("mySidenav").style.display = "none";
         }
    </script>
  </body>
</html>
