{% extends 'base_layout.html'%}
{% load static from staticfiles %}
{% block content %}
<h1 style="font-family: 'Kefa';color:#006fb7; margin-left:1em;">Error 500 - Something went wrong with the server, this has been logged</h1>
<p style="font-family: 'Kefa';color:#006fb7; margin-left:1em;">The data for the error has been logged</p>
<p style="font-family: 'Kefa';color:#006fb7; margin-left:1em;">Use the below link to return to the home page</p>
<a class="back-button" href="{% url 'home' %}">Back</a>
{% endblock %}
