{% extends 'base_layout.html'%}
{% load static from staticfiles %}
{% block content %}
<div class="Fuel-Deliver">
<h1>Fuel Delivery Log</h1>
<span>
<a class="link-button" href="{% url 'fuelrecords:fuelrecord'%}">Fuel Delivery Log</a>
<a class="link-button" href="{% url 'fuelrecords:viewfuelrecord'%}">View Fuel Delivery Log</a>
</span>
</div>
  <span><h1>Systems</h1></span>
  <div class="systems-list">
    <div class="container" onclick="menuButton1(this)">
      <h3 class="system-button">System One</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system1Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemone'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemone'%}">Monthly Meter</a>
      
          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButton2(this)">
      <h3 class="system-button">System Two</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system2Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemtwo'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemtwo'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Three</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system3Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemthree'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemthree'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Four</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system4Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemfour'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemfour'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Five</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system5Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemfive'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemfive'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Six</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system6Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemsix'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemsix'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Seven</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system7Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemseven'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemseven'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Eight</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system8Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemeight'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemeight'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Nine</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system9Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemnine'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemnine'%}">Monthly Meter</a>

          </div>
        </div>
      </div>
    </div>

    <div class="container" onclick="menuButtons(this)">
      <h3 class="system-button">System Ten</h3>
      <div class="barmenu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="system10Modal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <a class="link-button" href="{% url 'systems:fuellogsystemten'%}">Fuel Log</a>
            <a class="link-button" href="{% url 'systems:monthlysystemten'%}">Monthly Meter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var modal1 = document.getElementById("system1Modal");
    var modal2 = document.getElementById("system2Modal");


  function menuButton1(x) {
    modal1.style.display = "block";
    menuToggle(x);
  }

  function menuButton2(x) {
    modal2.style.display = "block";
    menuToggle(x);
  }

  function menuToggle(x) {
    x.classList.toggle("change");
  }



  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    switch (event.target) {
      case modal1:
        modal1.style.display = "none";
        break;
      case modal2:
        modal2.style.display = "none";
        break;
    }
  }


  </script>
{% endblock %}
